@import '@/styles/includes';

.news {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  &__body {
    position: relative;
    flex-grow: 1;
    margin: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
  }
}
