.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  height: 100dvh;

  &__cover {
    height: inherit;
    background-image: url('@/assets/images/main_bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__image {
    object-fit: cover;
  }

  &__content {
    display: grid;
    place-items: center;
    margin-inline: 20px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: var(--fs-2xl);
    font-weight: var(--fw-l);
  }
}
