.hd-form-group {
  &__label-container {
    display: flex;
  }

  &__label {
    display: inline-block;
    margin-bottom: 5px;
    color: var(--color-text);
    font-size: var(--fs-xs);
    line-height: 15px;

    &--required::after {
      content: '*';
      color: hsla(var(--color-danger));
      margin-inline-start: 1px;
    }
  }

  &__error {
    margin-top: 4px;
    margin-left: 2px;
    color: hsla(var(--color-danger-300));
    font-size: var(--fs-xs);
  }

  &__help {
    margin-top: 4px;
    color: var(--color-text-darker);
    font-size: var(--fs-xs);
    font-style: italic;
  }
}
