.schedule-table {
  display: flex;
  flex-direction: column;
  width: min-content;
  border: 2px solid var(--color-border);

  user-select: none;
  -webkit-user-select: none;
  cursor: default;

  &__head {
    display: flex;
    align-items: center;
    width: min-content;
    height: 32px;
    background-color: hsl(var(--foreground), 0.03);
    border-bottom: 2px solid var(--color-border);
  }

  &__body {
    position: relative;
    display: flex;
  }

  &__weekdays {
    display: grid;
    place-items: center;
    width: 120px;

    &:first-child {
      width: 60px;
      flex-grow: 0;
    }
  }

  &__time {
    width: 60px;
  }

  &__time-item {
    display: grid;
    place-items: center;
    height: 30px;

    &:not(:first-child) {
      border-top: 1px solid var(--color-border);
    }
  }

  &__day {
    position: relative;
    width: 120px;
    height: 30px;
    border-color: var(--color-border);
    border-left-width: 1px;
    border-left-style: solid;

    &:not(:first-child) {
      border-top-width: 1px;
      border-top-style: solid;
    }
  }
}
