@import '@/styles/includes';

.hd-table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &__title {
    max-width: 0;
    padding: 14px 16px;
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    text-align: left;

    &:first-child {
      width: 44px;
      padding-right: 0;
      text-align: center;
    }

    &:last-child {
      width: min-content;
    }
  }

  &__row {
    cursor: pointer;

    &:hover {
      background-color: _scaleAlpha('primary', -97);
    }
  }

  &__cell {
    padding: 14px 16px;
    border-top: 1px solid var(--color-border);
    font-size: var(--fs-m);

    &:first-child {
      max-width: 0px;
      padding-right: 0;
      text-align: center;
    }

    &:last-child {
      text-align: center;
    }
  }

  &__filter {
    display: inline-flex;
    align-items: center;
    margin-left: -5px;
    padding-inline: 5px;
    font-size: var(--fs-m);
    font-weight: var(--fw-l);

    &:hover {
      // @include set-color($main-color, 3, 15);
      color: var(--color-text);
      background-color: _scaleAlpha('primary', -90, -100);
    }

    span {
      font-size: inherit;
      font-weight: inherit;
      line-height: 25px;
    }
  }
}

.news {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--color-border);
  }

  &__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
    line-height: 25px;
    letter-spacing: 0.5px;
  }

  &__body {
    margin: 20px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
  }
}
