@import '@/styles/includes';

.hd-select {
  display: inline-block;
  width: clamp(200px, 100%, 300px);
  z-index: 1;

  &__container {
    position: relative;
  }

  &__label {
    display: inline-block;
    font-size: var(--fs-s);
    margin-bottom: 5px;
    margin-left: 5px;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    background-color: var(--color-bg-light);
    border: 1px solid var(--color-border);
    border-radius: 5px;
  }

  &__list {
    position: relative;
    max-height: 200px;
    padding-inline: 5px;
    padding-block: 10px;
    overflow-y: auto;
  }

  &:deep(.hd-input) {
    margin-bottom: 5px;

    .hd-input__container {
      height: 34px;
    }

    .hd-input__field:focus {
      outline: none;
    }
  }
}
