@import '@/styles/includes';

.hd-select {
  position: relative;
  display: inline-block;
  width: clamp(200px, 15rem, 400px);

  &--full-width {
    width: 100%;
  }

  &__wrapper {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    background-color: hsla(var(--background));
    border: 1px solid var(--color-border);
    border-radius: 5px;
    filter: drop-shadow(5px);
    z-index: 999;
  }

  &__list {
    position: relative;
    max-height: 200px;
    padding-inline: 5px;
    padding-block: 10px;
    overflow-y: auto;
  }

  &:deep(.hd-input) {
    margin-bottom: 5px;

    .hd-input__field:focus {
      outline: none;
    }
  }
}
