.schedule-card {
  position: relative;
  padding: 20px;
  border: 1px solid hsl(var(--foreground), 0.05);
  border-radius: 8px;

  & + & {
    margin-top: 30px;
  }

  :deep() {
    .schedule-card {
      &__group {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__label {
        position: absolute;
        top: -10px;
        padding-inline: 4px;
        background-color: hsl(var(--background));
      }

      &__controlls {
        position: absolute;
        display: flex;
        gap: 10px;
        bottom: -10px;
      }

      &__time-title {
        font-size: var(--fs-s);
      }

      &__time-select {
        width: 100px !important;
      }
    }
  }
}
