@import '@/styles/includes';

.hd-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  padding: 5px 30px;
  font-size: var(--fs-m);
  font-weight: var(--fw-m);
  line-height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 7px;
  transition-property: background-color, filter, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover:not(&:disabled) {
    background-color: hsla(var(--color-gray-400), 0.1);
  }

  &:active:not(&:disabled) {
    filter: brightness(1.2);
  }

  &:focus:not(&:disabled) {
    outline: 2px solid hsla(var(--color-gray-400), 0.6);
    outline-offset: 1px;
  }

  &:disabled {
    color: hsl(var(--color-gray-400), 0.5);
    background-color: hsla(var(--color-gray-500), 0.05);
    border-color: hsla(var(--color-gray-400), 0.05);
    cursor: default;
  }

  &--primary {
    &-solid {
      color: hsl(var(--color-gray-50));
      background-color: hsl(var(--color-primary));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-primary-500));
      }
    }

    &-outline {
      color: hsl(var(--color-primary));
      background-color: transparent;
      border-color: hsla(var(--color-primary));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-primary), 0.1);
      }
    }

    &-soft {
      color: hsl(var(--color-primary));
      background-color: transparent;

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-primary), 0.1);
      }
    }

    &-link {
      color: hsl(var(--color-primary), 0.8);
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsl(var(--color-primary));
        background-color: transparent;
        text-decoration-line: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &--success {
    &-solid {
      color: hsl(var(--color-gray-50));
      background-color: hsl(var(--color-success));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-success-500));
      }
    }

    &-outline {
      color: hsl(var(--color-success));
      background-color: transparent;
      border-color: hsla(var(--color-success));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-success), 0.1);
      }
    }

    &-soft {
      color: hsl(var(--color-success));
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsl(var(--color-success-300));
        background-color: hsla(var(--color-success), 0.1);
      }
    }

    &-link {
      color: hsl(var(--color-success));
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsl(var(--color-success-300));
        background-color: transparent;
        text-decoration-line: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &--danger {
    &-solid {
      color: hsl(var(--color-gray-50));
      background-color: hsl(var(--color-danger));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-danger-500));
      }
    }

    &-outline {
      color: hsl(var(--color-danger));
      background-color: transparent;
      border-color: hsla(var(--color-danger));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-danger), 0.1);
      }
    }

    &-soft {
      color: hsl(var(--color-danger));
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsl(var(--color-danger-300));
        background-color: hsla(var(--color-danger), 0.1);
      }
    }

    &-link {
      color: hsl(var(--color-danger));
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsl(var(--color-danger-300));
        background-color: transparent;
        text-decoration-line: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &--gray {
    &-solid {
      color: hsl(var(--foreground), 0.8);
      background-color: hsla(var(--color-gray-400), 0.07);
      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-gray-400), 0.1);
      }
    }

    &-outline {
      color: hsl(var(--color-gray));
      background-color: transparent;
      border-color: hsla(var(--color-gray));

      &:hover:not(&:disabled) {
        background-color: hsla(var(--color-gray), 0.1);
      }
    }

    &-soft {
      color: hsl(var(--foreground), 0.8);
      background-color: transparent;

      &:hover:not(&:disabled) {
        background-color: hsla(var(--foreground), 0.06);
      }
    }

    &-link {
      color: hsl(var(--foreground), 0.8);
      background-color: transparent;

      &:hover:not(&:disabled) {
        color: hsla(var(--foreground));
        background-color: transparent;
        text-decoration-line: underline;
        text-underline-offset: 3px;
      }
    }
  }

  &__icon,
  &__flip-icon {
    color: inherit;
    pointer-events: none;
  }

  &--square {
    padding: 5px;
  }

  &--xs {
    font-size: var(--fs-xs);
    line-height: 8px;

    &:not(.hd-button--square) {
      padding: 5px 10px;
    }

    & .hd-button__icon {
      width: 12px;
      height: 12px;
    }

    &:focus:not(&:disabled) {
      outline-width: 1px;
    }
  }

  &--s {
    padding: 5px 12px;
    font-size: var(--fs-s);
    line-height: 10px;

    &:focus:not(&:disabled) {
      outline-width: 1px;
    }
  }
}
