@import '@/styles/includes';

.hd-button {
  display: flex;
  justify-content: center;
  font-size: var(--fs-m);
  line-height: 20px;
  border-radius: 7px;
  padding: 5px;
  transition: background-color 0.15s ease, filter 0.2s ease;

  &:hover {
    @include set-color($main-color, 10);
  }

  &:active {
    filter: brightness(1.2);
  }

  @each $color in map-keys($colors) {
    &--#{$color} {
      padding: 5px 30px;
      @include set-color(map-get($colors, $color));

      &:hover {
        @include set-color(map-get($colors, $color), 7, 1);
      }

      &:active {
        @include set-color(map-get($colors, $color));
        filter: brightness(1.2);
      }
    }
  }
}
