.image-placeholder {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: hsl(var(--foreground), 0.04);
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-top: auto;
  margin-bottom: 10px;
  padding: 7.5px;
  cursor: pointer;

  &:hover {
    background-color: hsl(var(--foreground), 0.04);
  }

  &__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: hsl(var(--foreground), 0.04);
    overflow: hidden;
  }

  &__name {
    font-size: var(--fs-xs);
    font-weight: var(--fw-m);
    white-space: nowrap;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 5px;

  &__main {
    min-width: 33px;
  }

  &__text {
    min-width: 100px;
    overflow: hidden;
  }
}
