/* color palette from <https://github.com/vuejs/theme> */
:root {
  --head-h: 60px;

  --fs-default: 1rem;
  --fs-2xs: calc(var(--fs-default) - 0.35rem);
  --fs-xs: calc(var(--fs-default) - 0.3rem);
  --fs-s: calc(var(--fs-default) - 0.2rem);
  --fs-m: calc(var(--fs-default) - 0.1rem);
  --fs-l: calc(var(--fs-default) + 0.1rem);
  --fs-xl: calc(var(--fs-default) + 0.3rem);
  --fs-2xl: calc(var(--fs-default) + 0.5rem);
  --fs-3xl: calc(var(--fs-default) + 0.8rem);

  --fw-s: 300;
  --fw-m: 500;
  --fw-l: 700;
  --fw-xl: 900;
}

@include color-scheme() {
  @include set-root-colors();
}

@include color-scheme(dark) {
  @include set-root-colors();
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--color-text);
  background: var(--color-bg);
  transition: color 0.3s, background-color 0.3s;
  font-family: CeraRoundPro, sans-serif;
  font-size: var(--fs-default);
  font-weight: 400;
  letter-spacing: -0.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: calc(100vh - var(--head-h));
  height: calc(100dvh - var(--head-h));
}
