/* color palette from <https://github.com/vuejs/theme> */
:root {
  --head-h: 60px;

  --fs-default: 1rem;
  --fs-3xs: 8px;
  --fs-2xs: 10px;
  --fs-xs: 12px;
  --fs-s: 14px;
  --fs-m: var(--fs-default);
  --fs-l: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;
  --fs-3xl: 32px;
  --fs-4xl: 38px;

  --fw-s: 300;
  --fw-m: 500;
  --fw-l: 700;
  --fw-xl: 900;
}

:root {
  --color-gray-50: 210, 11%, 97%;
  --color-gray-100: 204, 14%, 94%;
  --color-gray-200: 207, 12%, 86%;
  --color-gray-300: 208, 12%, 73%;
  --color-gray-400: 209, 12%, 64%;
  --color-gray-500: 210, 7%, 50%;
  --color-gray-600: 210, 7%, 38%;
  --color-gray-700: 207, 7%, 30%;
  --color-gray-800: 207, 7%, 22%;
  --color-gray-900: 210, 7%, 13%;
  --color-gray-950: 210, 8%, 10%;
  --color-primary-50: 14, 98%, 76%;
  --color-primary-100: 15, 95%, 71%;
  --color-primary-200: 14, 92%, 66%;
  --color-primary-300: 15, 90%, 61%;
  --color-primary-400: 16, 88%, 54%;
  --color-primary-500: 16, 75%, 47%;
  --color-primary-600: 16, 76%, 40%;
  --color-primary-700: 16, 78%, 33%;
  --color-primary-800: 16, 82%, 26%;
  --color-primary-900: 16, 86%, 20%;
  --color-primary-950: 14, 89%, 14%;
  --color-success-50: 132, 22%, 74%;
  --color-success-100: 131, 22%, 67%;
  --color-success-200: 133, 22%, 55%;
  --color-success-300: 135, 25%, 48%;
  --color-success-400: 139, 46%, 34%;
  --color-success-500: 139, 49%, 25%;
  --color-success-600: 139, 50%, 20%;
  --color-success-700: 139, 54%, 15%;
  --color-success-800: 138, 58%, 11%;
  --color-success-900: 137, 68%, 7%;
  --color-success-950: 133, 70%, 4%;
  --color-danger-300: 0, 88%, 55%;
  --color-danger-400: 0, 89%, 45%;
  --color-danger-500: 1, 88%, 38%;
  --color-primary: var(--color-primary-400);
  --color-gray: var(--color-gray-400);
  --color-success: var(--color-success-400);
  --color-danger: var(--color-danger-400);
  --color-border: hsla(var(--color-gray-200));
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-gray-100);
    --foreground: var(--color-gray-800);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-gray-200);
    --color-border: hsla(var(--color-gray-200), 0.1);
  }
}

.dark {
  color-scheme: dark;
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-200);
  --color-border: hsla(var(--color-gray-200), 0.1);
}

.light {
  color-scheme: light;
  --background: var(--color-gray-100);
  --foreground: var(--color-gray-800);
  --color-border: hsla(var(--color-gray-200));
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  color: hsla(var(--foreground));
  background: hsla(var(--background));
  font-family: CeraRoundPro, sans-serif;
  font-size: var(--fs-default);
  font-weight: 400;
  letter-spacing: -0.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: calc(100vh - var(--head-h));
  height: calc(100dvh - var(--head-h));
}
