/* color palette from <https://github.com/vuejs/theme> */
:root {
  --head-h: 60px;

  --fs-default: 1rem;
  --fs-xs: calc(var(--fs-default) - 0.3rem);
  --fs-s: calc(var(--fs-default) - 0.2rem);
  --fs-m: calc(var(--fs-default) - 0.1rem);
  --fs-l: calc(var(--fs-default) + 0.1rem);
  --fs-xl: calc(var(--fs-default) + 0.3rem);

  --fw-s: 300;
  --fw-m: 500;
  --fw-l: 700;

  --color-white: 0, 0%, 100%;
  --color-white-soft: 0, 0%, 97%;
  --color-white-mute: 0, 0%, 95%;

  --color-black: 0, 0%, 9%;
  --color-black-soft: 0, 0%, 13%;
  --color-black-mute: 0, 0%, 16%;

  --color-orange: 38, 100%, 50%;
  --color-indigo: 210, 29%, 24%;
  --color-green: 139, 46%, 34%;

  --color-divider-light-1: hsla(var(--color-indigo), 0.29);
  --color-divider-light-2: hsla(var(--color-indigo), 0.12);
  --color-divider-dark-1: 0, 0%, 33%, 0.65;
  --color-divider-dark-2: 0, 0%, 33%, 0.48;

  --color-text-light-1: hsla(var(--color-indigo));
  --color-text-light-2: 0, 0%, 24%, 0.66;
  --color-text-dark-1: hsla(var(--color-orange));
  --color-text-dark-2: 0, 0%, 92%, 0.64;
  --color-text-dark-3: 0, 0%, 92%, 0.875;

  --color-primary: var(--color-orange);
  --color-success: var(--color-green);
}

/* semantic color variables for this project */
:root {
  --color-bg: hsla(var(--color-white));
  --color-bg-soft: hsla(var(--color-white-soft));
  --color-bg-mute: hsla(var(--color-white-mute));

  --color-border: hsla(var(--color-divider-light-2));
  --color-border-hover: hsla(var(--color-divider-light-1));

  --color-heading: hsla(var(--color-text-light-1));
  --color-text: hsla(var(--color-text-light-1));
  --color-link: hsla(var(--color-text-light-1));
  --color-hover: hsla(var(--color-white-mute), 0.4);
  --color-active: hsla(var(--color-white-mute), 0.6);
  --color-secondary: var(--color-white-mute);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsla(var(--color-black));
    --color-bg-soft: hsla(var(--color-black-soft));
    --color-bg-mute: hsla(var(--color-black-mute));

    --color-border: hsla(var(--color-divider-dark-2));
    --color-border-hover: hsla(var(--color-divider-dark-1));

    --color-heading: hsla(var(--color-text-dark-1));
    --color-text: hsla(var(--color-text-dark-2));
    --color-text-light: hsla(var(--color-text-dark-3));

    --color-link: hsla(var(--color-text-dark-1));
    --color-hover: hsla(var(--color-black-mute), 0.4);
    --color-active: hsla(var(--color-black-mute), 0.6);
    --color-secondary: var(--color-black-mute);
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--color-text);
  background: var(--color-bg);
  transition: color 0.3s, background-color 0.3s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: var(--fs-default);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  height: calc(100vh - var(--head-h));
  height: calc(100dvh - var(--head-h));
}
