.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  inset: 0;
  overflow: hidden;

  &__aside {
    display: flex;
    flex-direction: column;
    width: 45px;
    background-color: hsl(var(--foreground), 0.03);
    transition: width 400ms ease;
    height: 100%;
    overflow: hidden;
    z-index: 200;

    &--open {
      width: 180px;
    }

    &--main {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }

  &__button {
    position: relative;

    display: inline-flex;
    margin-left: auto;
    margin-bottom: 5px;
    width: max-content;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: hsl(var(--foreground), 0.03);

    &:hover {
      outline: 1px solid var(--color-border);
    }

    & .menu-button:hover {
      background-color: transparent !important;
    }

    .hd-icon.hd-button__icon {
      width: 16px;
      height: 16px;
    }

    &.open {
      .arrow-reverse {
        transform: rotate(180deg);
      }
    }
  }

  &__wrapper {
    display: flex;
    min-width: 0;
    overflow: hidden;
  }

  &__header {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid hsl(var(--foreground), 0.3);

    &--right,
    &--left {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__header-title {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-m);
    letter-spacing: 1px;
  }

  &__controls {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid hsl(var(--foreground), 0.3);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  &__body {
    position: relative;
    padding: 15px;
    overflow-x: auto;
    flex: 1;

    &--no-padding {
      padding: 0;
    }

    &--column {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    position: relative;
    margin-top: auto;
    padding: 15px 20px;
    border-top: 1px solid hsl(var(--foreground), 0.3);
  }
}
