.dashboard {
  display: grid;
  grid-template-columns: auto 1fr;
  position: fixed;
  inset: 0;
  overflow: hidden;

  &__aside {
    display: flex;
    flex-direction: column;
    width: 45px;
    background-color: hsl(var(--foreground), 0.03);
    transition: width 400ms ease;
    height: 100%;
    overflow: hidden;
    z-index: 200;
    &--open {
      width: 200px;
    }
  }

  &__open-btn {
    display: flex;
    justify-content: end;
    width: inherit;
    padding-right: 5px;

    & .arrow-reverse {
      transform: rotate(180deg);
    }
  }

  &__wrapper {
    display: flex;
    min-width: 0;
    overflow: hidden;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid hsl(var(--foreground), 0.3);

    &--right,
    &--left {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__header-title {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-m);
    letter-spacing: 1px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  &__body {
    position: relative;
    flex: 1;
    overflow-x: auto;
  }

  &__footer {
    position: relative;
    padding: 15px 20px;
    border-top: 1px solid hsl(var(--foreground), 0.3);
  }
}
