@font-face {
  font-family: CeraRoundPro;
  src: url('@/assets/fonts/CeraRoundPro-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: CeraRoundPro;
  src: url('@/assets/fonts/CeraRoundPro-Medium.woff2') format('woff2'),
    url('@/assets/fonts/CeraRoundPro-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: CeraRoundPro;
  src: url('@/assets/fonts/CeraRoundPro-Bold.woff2') format('woff2'),
    url('@/assets/fonts/CeraRoundPro-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: CeraRoundPro;
  src: url('@/assets/fonts/CeraRoundPro-Black.woff2') format('woff2'),
    url('@/assets/fonts/CeraRoundPro-Black.woff') format('woff');
  font-weight: 900;
}
