@use 'sass:color';

@function _toHsl($color) {
  $h: color.channel($color, 'hue', $space: hsl);
  $s: color.channel($color, 'saturation', $space: hsl);
  $l: color.channel($color, 'lightness', $space: hsl);
  $a: color.channel($color, 'alpha', $space: hsl);
  @return hsla(round($h), round($s), round($l), $a);
}

@function tint($color, $percentage: 0) {
  @return _toHsl(mix(white, $color, $percentage * 1%));
}

@function shade($color, $percentage: 0) {
  @return _toHsl(mix(black, $color, $percentage * 1%));
}

@function _lighter($percentage: 0) {
  @return _toHsl(mix(white, $black, $percentage * 1%));
}

@function _darker($percentage: 0) {
  @return _toHsl(mix(black, $white, $percentage * 1%));
}

@function _scaleAlpha($key, $value: 0) {
  @return _toHsl(color.scale(map-get($colors, $key), $alpha: $value * 1%));
}
