$orange:            #f15a24;
$green:             #2f7f48;
$cyan:              #086f92;
$red:               #ac1515;
$light-orange:      #f0be08;

$black:             hsl(230, 2%, 9%);
$white:             hsl(0, 0%, 100%);

$colors: (
  "primary":         $orange,
  "success":         $green,
  "warning":         $light-orange,
  "danger":          $red,
  "dark":            $black,
  "light":           $white,
);
