.hd-switch {
  position: relative;

  &__wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: start;
    min-width: 44px;
    height: 22px;
    background-color: hsla(var(--color-gray-400), 0.2);
    border-radius: 12px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__handler {
    margin-inline: 4px;
    width: 16px;
    height: 16px;
    background-color: hsla(var(--color-gray-400));
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--on {
    .hd-switch__wrapper {
      background-color: hsla(var(--color-primary));
    }

    .hd-switch__handler {
      background-color: hsla(var(--color-gray-100));
      transform: translateX(20px);
    }
  }
}
