.hd-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  min-width: 44px;
  height: 22px;

  background-color: var(--color-bg-lighter);
  border-radius: 12px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__handler {
    margin-inline: 4px;
    width: 16px;
    height: 16px;
    background-color: var(--color-text);
    border-radius: 50%;
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  &--on {
    background-color: var(--primary);

    .hd-switch__handler {
      background-color: var(--color-text-light);
      transform: translateX(20px);
    }
  }
}
