@import '@/styles/includes';

.hd-upload-image {
  &__button {
    color: var(--color-text-lighter);
    background-color: _scaleAlpha('dark', -40);
    border-color: var(--color-border);

    &:hover {
      background-color: _scaleAlpha('dark', -20);
    }
  }

  &__input {
    position: relative;
    right: 9999px;
    width: 1px;
    height: 1px;
    visibility: hidden;
    z-index: -10;
  }
}
