.hd-select-item {
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 10px;
  border-radius: 5px;
  white-space: nowrap;

  & + & {
    margin-top: 10px;
  }

  &:hover {
    background-color: hsla(var(--foreground), 0.04);
    cursor: pointer;
  }

  &--active {
    background-color: hsla(var(--foreground), 0.03);
  }
}
