@import '@/styles/includes';

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  flex: 1;
  padding: 20px 0;

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    color: hsl(var(--foreground), 0.65);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    border-radius: 5px;
    cursor: pointer;

    &:hover:not(&--active) {
      color: hsl(var(--color-primary), 0.8);
      background-color: hsl(var(--foreground), 0.04);
    }

    &--active {
      color: hsl(var(--color-primary));
      background-color: hsl(var(--foreground), 0.04);
      cursor: default;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
