.header-left {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-left: auto;

  &__search {
    height: 30px;
    color: var(--color-text-darker);
    border-color: var(--color-border);

    :deep(.hd-input__icon) {
      width: 30px;

      & .hd-icon {
        margin-left: 2px;
        width: 20px;
        height: 20px;
      }
    }

    :deep(.hd-input__field) {
      padding-left: 30px;
    }
  }
}

.user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 20px;
  z-index: 99;

  &__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }

  &:hover {
    .user-menu {
      scale: 1;
      opacity: 1;
    }
  }
}

.notifications {
  flex-shrink: 0;

  &__icon {
    width: 25px;
    height: 25px;
  }

  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}
