.header {
  top: 0;
  display: flex;
  align-items: center;
  gap: 0 20px;
  height: var(--head-h);
  padding: 10px 20px;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
}
