.user-menu {
  --animation-dur: 500ms;
  --shadow-opacity: 0.06;

  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 5px;
  padding: 20px;
  background-color: hsl(var(--background), 0.5);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-shadow: -1px 1px 8px 0px hsla(var(--foreground), var(--shadow-opacity));
  transform: scale(0);
  opacity: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transform-origin: right top;
  transition: transform 400ms ease, opacity 500ms;
  transition-delay: 100ms;

  &--open {
    transform: scale(1);
    opacity: 1;
  }

  &__wrapper {
    display: grid;
    gap: 20px 0;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__media {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name {
    font-size: var(--fs-m);
    font-weight: var(--fw-l);
    line-height: 15px;
  }

  &__mail {
    margin-top: 5px;
    font-size: var(--fs-s);
    line-height: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2px 0;
  }

  &__item {
    display: flex;
    color: hsl(var(--foreground), 0.75);
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
    margin-inline: -10px;
    padding-block: 5px;
    padding-inline: 10px;

    &:hover {
      border-radius: 5px;
      color: hsl(var(--foreground));
      background-color: hsl(var(--foreground), 0.1);
      cursor: pointer;
    }
  }
}
