.hd-calendar {
  position: relative;
  display: inline-block;
  width: 200px;

  &__container {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
  }

  &__button {
    width: 100%;
    height: 40px;
    border-color: var(--color-border);
  }
}
