.select-item {
  display: flex;
  font-size: var(--fs-s);
  font-weight: var(--fw-m);
  line-height: 25px;

  &__title {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    padding-right: 15px;
  }
}

.hd-select-item--active {
  background-color: hsla(var(--foreground), 0.2);

  .select-item__title::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
    background-color: hsla(var(--foreground), 0.7);
    mask: url('@/assets/icons/check.svg') no-repeat center;
    -webkit-mask: url('@/assets/icons/check.svg') no-repeat center;
  }
}
